.sendMail {
    position: absolute;
    bottom: 0px;
    right: 50px;
    background-color: #404040;
    width: 40%;
    height: 45%;
    max-width: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
    border: 1px solid whitesmoke;
    margin-top: 100px;
}
.sendMail_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px;
    color: gray;
}
.sendMail_header > h3 {
    font-size: 13px;
    color: whitesmoke;
}

.sendMail_send {
    background-color: #3079ed !important;
    text-transform: capitalize !important;
    margin: 15px !important;
}
.sendMail_close {
    cursor: pointer;
}
.sendMail > form {
    display: flex;
    flex: 1;
    flex-direction: column;
}
 .sendMail > form > input {
  height: 30px;
  border: none;
  padding: 5px;
  border-bottom: 1px solid whitesmoke;
  outline: none;
} 
.sendMail_message {
    flex: 1;
}
.sendMail_error {
    background-color: white;
    color: red;
    text-align: right;
}